body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #000000;
    
}

.menusDel{
    background-color: #ffffffb9;
}


/* Pagina de abrir caixa */
.i-logo-img{
    text-align: center;
    padding: 20px 0;
}

#caixa{
    margin: auto;
    display: block; 
    width: 100px;
}

#abrir-caixa{
    padding: 20px 20px;
    font-size: 18px;
    background-color: #2aa306;
    color: #fff;
    font-weight: bold;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 1.3s ease;
    margin: auto; 
    display: block;
    width: 200px; 
    height: 70px;
    margin-top: 30px;

}

a{
    text-decoration: none;
}

#abrir-caixa:hover {
    background-color: #94ad03;
}

/* FIM Pagina de abrir caixa */



/*========================================================================================== */



main {
    text-align: center;
    overflow-y: auto;
}

.l-logo-img{
    text-align: center;
    padding: 20px 0;

}


.form-login {
    width: 300px;
    margin: 0 auto;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.login-php{
    color: white;
    font-weight: bold;
}

.form-login input[type="text"],
input[type="password"] {
    width: calc(100% - 20px);
    padding: 10px;
    margin: 20px 0;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

.button-login {
    width: calc(100% - 20px);
    padding: 10px;
    margin: 10px 0;
    background-color: #d89400;
    font-weight: bold;
    font-size: 18px;
    color: #fff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

button:hover {
    background-color: #252317;
}




/* Menu */


.menu-php{
    width: 200px;
    height: 100vh;
    float: left; 
    background-color: rgb(0, 0, 0);
}


.sidebar {
    position: fixed;
    left: 0;
    top: 0;
    width: 250px;
    height: 100%;
    background-color: #333; /* Cor de fundo da barra lateral */
    color: #fff; /* Cor do texto na barra lateral */
}

.inserir-logo-img img{
    padding: 20px;
}

nav ul {
    list-style-type: none; 
    padding: 0;
    margin: 0;
}

nav ul li {
    padding: 10px 20px;
    border-bottom: 1px solid #555; /* Linha divisória entre os itens de menu */
    margin-top: 70px;

    
}

nav ul li:last-child {
    border-bottom: none; /* Remove a linha divisória do último item de menu */
}

nav ul li a {
    text-decoration: none;
    display: block;
    color: rgb(250, 246, 238);
}

nav ul li a:hover {
    background-color: #555; /* Cor de fundo quando o mouse passa por cima */
}



/*Fim Menu */

/*========================================================================================== */



/* Inserir produtos */
.inserir-produtos {
    padding: 20px; /* Adiciona um espaçamento interno */
    border-radius: 8px; /* Adiciona bordas arredondadas */
    width: 60%;
    position: absolute; /* Define a posição absoluta */
    top: 50%; /* Alinha o topo a 50% da altura da janela */
    left: 50%; /* Alinha a esquerda a 50% da largura da janela */
    transform: translate(-50%, -50%); /* Move o elemento para o centro */
    text-align: center; /* Alinha o conteúdo no centro */

}

@media (max-width: 768px) {
    .inserir-produtos {
        width: 90%; /* Reduz a largura para telas menores */
    }
}


.form-group-inserir {
    display: inline-block;
    vertical-align: top; /* Alinha os elementos pela parte superior */
    margin-bottom: 20px;
    text-align: left;
    padding: 50px;

}

.form-group-inserir label {
    display: block;
    margin-bottom: 5px;
}

.form-group-inserir input {
    width: calc(100% - 10px); /* Define a largura para ocupar metade do espaço disponível */
    padding: 15px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    border-radius: 10px;
    
}

/* Estilos para os botões */
button {
    padding: 20px 25px;
    background-color: #242323;
    color: #fff;
    border: none;
    width: 350px;
    border-radius: 10px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    font-size: 20px;
}

button:hover {
    background-color: #b39800;
}



/*Produtos cadastrados =====================*/

.container-cadastrados {
    max-width: 1000px; /* Define a largura máxima */
    margin: 0 auto; /* Centraliza horizontalmente */
    padding: 20px; /* Adiciona espaço interno */
    border-radius: 8px; /* Adiciona bordas arredondadas */
    text-align: center; /* Alinha o conteúdo no centro */
}


.table {
    width: 100%;
    
    border: 5px solid rgb(48, 46, 46);
    border-radius: 7px;

}


.table th,
.table td {
    padding: 10px;
    border-bottom: 1px solid #141313;
    text-align: left;
    font-weight: bold;
}

.table th {
    background-color: #f1c70d;
}

.table tbody tr:nth-child(even) {
    background-color: #f9f9f9;
}

.table tbody tr:hover {
    background-color: #f2f2f2;
}